name: vprofile-actions

on:
  workflow_dispatch:

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  BUCKET_TF_STATE: ${{ secrets.BUCKET_TF_STATE }}
  AWS_DEFAULT_REGION: us-east-1
  ECR_REPOSITORY: vproapp
  EKS_CLUSTER_NAME: vpro-ekss

jobs:
  Testing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Java 11
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: 'temurin'

      - name: Run Maven tests
        run: mvn test

      - name: Run Checkstyle
        run: mvn checkstyle:checkstyle

      - name: Set up SonarScanner
        uses: warchant/setup-sonar-scanner@v7

      - name: SonarQube Scan
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          sonar-scanner \
            -Dsonar.projectKey=${{ secrets.SONAR_PROJECT_KEY }} \
            -Dsonar.organization=${{ secrets.SONAR_ORG }} \
            
            -Dsonar.projectBaseDir=. \
            -Dsonar.exclusions=src/main/java/com/visualpathit/account/config/SecurityConfig.java \
            -Dsonar.coverage.exclusions=src/main/java/com/visualpathit/account/config/SecurityConfig.java \
            -Dsonar.java.coveragePlugin=jacoco \
            -Dsonar.jacoco.reportPaths=target/jacoco.exec \
            -Dsonar.java.binaries=target/classes \
            -Dsonar.java.test.binaries=target/test-classes \
            -Dsonar.java.test.libraries=target/test-classes \
            -Dsonar.java.coveragePlugin=jacoco \
            -Dsonar.java.checkstyle.reportPaths=target/checkstyle-result.xml \
            -Dsonar.java.checkstyle.reportPaths=target/surefire-reports/ \
            -Dsonar.scm.disabled=true \
            -Dsonar.cpd.exclusions=src/main/java/com/visualpathit/account/config/SecurityConfig.java \
            -Dsonar.cpd.exclusions=src/main/java/com/visualpathit/account/config/SecurityConfig.java \
            -Dsonar.cpd.exclusions=src/main/java/com/visualpathit/account/config/SecurityConfig.java \

            -Dsonar.projectVersion=1.0 \
            -Dsonar.sources=src/ \
            -Dsonar.host.url=${{secrets.SONAR_URL }} \
            -Dsonar.login=${{secrets.SONAR_TOKEN }} \
            -Dsonar.junit.reportsPath=target/surefire-reports/ \
            -Dsonar.jacoco.reportsPath=target/jacoco.exec \
            -Dsonar.java.binaries=target/test-classes/com/visualpathit/account/controllerTest/ \
            -Dsonar.java.checkstyle.reportPaths=target/checkstyle-result.xml

      - name: Wait for SonarQube Quality Gate result
        uses: sonarsource/sonarqube-quality-gate-action@master
        timeout-minutes: 5
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_URL }}
